<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginUser">
	SELECT *
	FROM MEMBER
	WHERE USER_ID = ?
	AND USER_PWD = ?
	AND STATUS = 'Y'
	</entry>
	
	<entry key="insertMem">
		INSERT INTO MEMBER(USER_NO
                              , USER_ID
                              , USER_PWD
                              , USER_NAME
                              , GENDER
                              , PHONE
                              , EMAIL
                              , ADDRESS
                              , FOOD_INTEREST
                              , CLEAN_INTEREST)
		VALUES(SEQ_UNO.NEXTVAL
		            ,?
		            ,?
		            ,?
		            ,?
		            ,?
		            ,?
		            ,?
		            ,?
		            ,?)
	</entry>
	
	<entry key="idCheck">
		SELECT COUNT(*) COUNT
		FROM MEMBER
		WHERE USER_ID = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="findId">
			SELECT *
			FROM MEMBER
			WHERE USER_NAME = ?
			AND PHONE = ?
			AND STATUS = 'Y'
	</entry>
	
	<entry key="findPwd">
		UPDATE MEMBER
		SET USER_PWD = '123456789@'
		WHERE USER_ID = ?
		AND PHONE = ?
		AND STATUS = 'Y'
	</entry>
	
	
	
	
	
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ마이페이지 부분ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  -->
	
	
	
		<entry key="updateInfo">
		UPDATE MEMBER
		SET USER_NAME= ?
			,GENDER= ?
			,PHONE= ?
			,EMAIL= ?
			,ADDRESS= ?
			,FOOD_INTEREST= ?
			,CLEAN_INTEREST= ?
		WHERE USER_ID= ?
	</entry>
	
	<entry key="selectMember">
		SELECT *
		FROM MEMBER
		WHERE USER_ID= ?
		AND STATUS= 'Y'
	</entry>
	
	
	<entry key="deleteMember">
		UPDATE MEMBER
		SET STATUS= 'N'
		WHERE USER_PWD= ?
		AND USER_NO= ?
		AND STATUS= 'Y'
	</entry>
	
	<entry key="changePwd">
		UPDATE MEMBER
		SET USER_PWD = ?
		WHERE USER_ID = ?
		AND USER_PWD = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="updateSelectMember">
		SELECT * 
		FROM MEMBER 
		WHERE USER_ID= ?
		AND STATUS = 'Y'
	</entry>
	
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ진단테스트 수정하기ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<entry key="updateTestInfo">
		UPDATE MEMBER
		SET FOOD_INTEREST= ?
			,CLEAN_INTEREST= ?
		WHERE USER_ID= ?
	</entry>
	
	
</properties>