<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectProductList">
		select * from products where status ='Y'
	</entry>
	<entry key="selectProductCategoryList">
		select * from category
	</entry>
	<entry key="selectProductDetail">
		SELECT PRODUCT_NO
		      ,PRODUCT_BRAND
		      ,PRODUCT_NAME
		      ,PRODUCT_PRICE
		      ,PRODUCT_INFO
		      ,PRODUCT_INGREDIENT
		FROM PRODUCTS
		WHERE PRODUCT_NO = ?
	</entry>
	<entry key="selectAttachment">
		SELECT FILE_NO
		      ,ORIGIN_NAME
		      ,CHANGE_NAME
		      ,FILE_PATH
		FROM PRODUCTS_ATTACHMENT
		WHERE PRODUCT_NO = ?
		AND STATUS = 'Y'
	</entry>
</properties>