<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectProductList">
		select * from products where status ='Y'
	</entry>
	<entry key="selectProductCategoryList">
		select * from category
	</entry>
	<entry key="selectProductDetail">
		SELECT PRODUCT_NO
		      ,PRODUCT_BRAND
		      ,PRODUCT_NAME
		      ,PRODUCT_PRICE
		      ,PRODUCT_INFO
		      ,PRODUCT_INGREDIENT
		FROM PRODUCTS
		WHERE PRODUCT_NO = ?
	</entry>
	<entry key="selectProductAttachmentList">
		SELECT FILE_NO
		      ,ORIGIN_NAME
		      ,CHANGE_NAME
		      ,FILE_PATH
		      ,FILE_LEVEL
		FROM PRODUCTS_ATTACHMENT
		WHERE PRODUCT_NO = ?
		AND STATUS = 'Y'
	</entry>
	<entry key="selectProductReviewList">
		SELECT REVIEW_NO
		      ,USER_NO
		      ,REVIEW_CONTENT
		FROM REVIEW
		WHERE PRODUCT_NO = ?
	</entry>
	<entry key="selectIndexProductList">
		SELECT PRODUCT_NO
	           ,PRODUCT_NAME
	           ,FILE_PATH || CHANGE_NAME TITLEIMG
	           ,CATEGORY_NAME
		FROM PRODUCTS P
		JOIN CATEGORY  C USING (CATEGORY_NO)
		JOIN PRODUCTS_ATTACHMENT PA USING (PRODUCT_NO)
		WHERE FILE_LEVEL = 1
		ORDER BY P.CREATE_DATE DESC
	</entry>
	
</properties>