<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectMyReviewList">
		SELECT FILE_PATH || CHANGE_NAME TITLEIMG
    			  	  ,PRODUCT_NAME
   					  ,USER_ID
   					  ,R.CREATE_DATE CREATE_DATE
  					  ,R.COUNT COUNT
		FROM REVIEW R
		JOIN PRODUCTS P ON (R.PRODUCT_NO = P.PRODUCT_NO)
		JOIN MEMBER B ON (R.USER_NO = B.USER_NO)
		JOIN REVIEW_ATTACHMENT RA ON (R.REVIEW_NO = RA.REVIEW_NO)
		WHERE R.USER_NO = ?
		AND FILE_LEVEL = 1
		ORDER BY CREATE_DATE DESC	
	</entry>


</properties>