<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	


	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡ내가 쓴 게시글 총 개수ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<entry key="reviewCount">
		SELECT COUNT(*) COUNT
		FROM REVIEW
		WHERE USER_NO = ?
		AND STATUS = 'Y'
	</entry>


	<!-- ㅡㅡㅡㅡㅡㅡㅡ페이징처리한 내가 쓴 리뷰리스트 조회ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<entry key="selectMyReviewList">
		SELECT *
		FROM
   				 (SELECT ROWNUM RNUM, A.*
  				  FROM 
       				     (SELECT FILE_PATH || CHANGE_NAME TITLEIMG 
                		   				 ,PRODUCT_NAME
                  						 ,M.USER_ID
                						 ,R.CREATE_DATE
            			  FROM REVIEW R
            			  JOIN REVIEW_ATTACHMENT RA USING (REVIEW_NO)
            			  JOIN PRODUCTS P USING (PRODUCT_NO)
            			  JOIN MEMBER M USING (USER_NO)
            			  WHERE USER_NO = ?
            			  AND FILE_LEVEL = 1
            			  ORDER BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡ최근 30일동안 작성한 게시글 5개 정보 조회ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<entry key="recentMyReviewList">
		SELECT *
		FROM
   				 (SELECT ROWNUM RNUM, A.*
  				  FROM 
       				     (SELECT FILE_PATH || CHANGE_NAME TITLEIMG 
                		   				 ,PRODUCT_NAME
                  						 ,M.USER_ID
                						 ,R.CREATE_DATE
            			  FROM REVIEW R
            			  JOIN REVIEW_ATTACHMENT RA USING (REVIEW_NO)
            			  JOIN PRODUCTS P USING (PRODUCT_NO)
            			  JOIN MEMBER M USING (USER_NO)
            			  WHERE USER_NO = ?
            			  AND FILE_LEVEL = 1
            			  AND R.CREATE_DATE >= SYSDATE - INTERVAL '30' DAY
            			  ORDER BY CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN 1 AND 5
	</entry>





</properties>