<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectProductList">
		select * from products where status ='Y'
	</entry>
	<entry key="selectProductCategoryList">
		select * from category where category_no between 1 and 40
	</entry>
	<entry key="selectProductDetail">
		SELECT PRODUCT_NO
		      ,PRODUCT_BRAND
		      ,PRODUCT_NAME
		      ,PRODUCT_PRICE
		      ,PRODUCT_INFO
		      ,PRODUCT_INGREDIENT
		FROM PRODUCTS
		WHERE PRODUCT_NO = ?
	</entry>
	<entry key="selectProductAttachment">
		SELECT FILE_NO
		      ,ORIGIN_NAME
		      ,FILE_PATH
		      ,CHANGE_NAME
		FROM PRODUCTS_ATTACHMENT
		WHERE PRODUCT_NO = ?
		AND FILE_LEVEL = 1
		AND STATUS = 'Y'
	</entry>
	<entry key="selectProductReviewList">
		SELECT REVIEW_NO
		      ,USER_NO
		      ,REVIEW_CONTENT
		FROM REVIEW
		WHERE PRODUCT_NO = ?
	</entry>
	<entry key="selectIndexProductList">
		SELECT PRODUCT_NO
	           ,PRODUCT_NAME
	           ,FILE_PATH || CHANGE_NAME TITLEIMG
	           ,CATEGORY_NAME
	           ,PARENT_CATEGORY_NO
		FROM PRODUCTS P
		JOIN CATEGORY  C USING (CATEGORY_NO)
		JOIN PRODUCTS_ATTACHMENT PA USING (PRODUCT_NO)
		WHERE FILE_LEVEL = 1
		ORDER BY P.CREATE_DATE DESC
	</entry>
	<entry key="sortListProductCount">
		SELECT PRODUCT_NO
		,CATEGORY_NO
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,FILE_PATH || CHANGE_NAME TITLEIMG
		FROM PRODUCTS P
		JOIN CATEGORY C USING (CATEGORY_NO)
		JOIN PRODUCTS_ATTACHMENT PA USING (PRODUCT_NO)
		WHERE FILE_LEVEL = 1
		AND P.STATUS = 'Y'
		ORDER BY P.COUNT DESC
	</entry>
	<entry key="sortListProductReviewCount">
		SELECT PRODUCT_NO
		,CATEGORY_NO
		,CATEGORY_NAME
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,FILE_PATH || CHANGE_NAME TITLEIMG
		FROM PRODUCTS P
		JOIN CATEGORY C USING (CATEGORY_NO)
		JOIN PRODUCTS_ATTACHMENT PA USING (PRODUCT_NO)
		JOIN REVIEW R USING (PRODUCT_NO)
		WHERE FILE_LEVEL = 1
		AND P.STATUS = 'Y'
		ORDER BY R.COUNT DESC
	</entry>
	<entry key="selectListProduct">
		SELECT PRODUCT_NO
		,CATEGORY_NO
		,CATEGORY_NAME
		,PRODUCT_NAME
		,PRODUCT_PRICE
		,FILE_PATH || CHANGE_NAME TITLEIMG
		FROM PRODUCTS P
		JOIN CATEGORY C USING (CATEGORY_NO)
		JOIN PRODUCTS_ATTACHMENT PA USING (PRODUCT_NO)
		WHERE FILE_LEVEL = 1
		AND P.STATUS = 'Y'
	</entry>
	
	<entry key="selectMoreProductList">
		SELECT *
			FROM(SELECT ROWNUM RNUM , A.*
			FROM (SELECT PRODUCT_NO
                        ,CATEGORY_NO
                        ,CATEGORY_NAME
                        ,PRODUCT_NAME
                        ,PRODUCT_PRICE
			           ,FILE_PATH || CHANGE_NAME TITLEIMG
				FROM PRODUCTS P
				JOIN CATEGORY C USING (CATEGORY_NO)
                JOIN PRODUCTS_ATTACHMENT PA USING (PRODUCT_NO)
				WHERE P.STATUS = 'Y' and file_level = 1
			    ORDER BY P.CREATE_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
</properties>